name: Riptide Build
run-name: Build and Test the application
on:
  - push
  - workflow_dispatch
jobs:
  Build-And-Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21 for x64
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64
          cache: maven
      - name: Build & Test
        run: mvn --batch-mode --update-snapshots verify
      - name: Docker Build
        run: mvn --batch-mode --update-snapshots jib:dockerBuild