name: Riptide Build
run-name: Build and Test the application
on:
  workflow_dispatch:
  push:
    tags-ignore:
  pull_request:
    branches-ignore:
      - "*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK 25 for x64
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: '25'
          distribution: 'temurin'
          architecture: x64
          cache: maven
      - name: Set version number, data and short git hash
        run: |
          echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> ${GITHUB_ENV}
          echo "SHORT_GIT_SHA=$(git rev-parse --short HEAD)" >> ${GITHUB_ENV}
          echo "BUILD_DATE"=$(date -u +"%Y-%m-%dT%H:%M:%SZ") >> ${GITHUB_ENV}
      - name: Build with tests
        run: |
          make
      - name: Persist JAR artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: riptide-jar
          path: |
            target/*.jar
      - name: Login to Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build and push container image to registry
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            DATE=${{ env.BUILD_DATE }}
            GIT_SHORT_HASH=${{ env.SHORT_GIT_SHA }}
            REGISTRY_REPOSITORY=riptide-labs
            VERSION=${{ env.VERSION }}
          tags: |
            ghcr.io/riptide-labs/riptide-dev:${{ env.SHORT_GIT_SHA }}
            ghcr.io/riptide-labs/riptide-dev:snapshot